*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 5px;
    color: yellow;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
table{
    margin: 20px;
    border-collapse: collapse;
}

tr,td,th{
    border: 2px solid red;
    padding: 2px;
    text-align: center;
}